/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* --------------
   Common Style
---------------- */

body{
    font-family: 'Poppins', sans-serif;
}

.container{
}

/* ------------
Style Banner Part
-------------- */

#banner{
    width: 1121px;
    height: 646px;
    margin: auto;
    background-color: #161616;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 40px;
    border-radius: 30px;
    position: relative;
}

.banner-heading{
    margin-top: 40px;
}

h1{
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    line-height: 80px;
}

.banner-heading p{
    color: #fff;
    line-height: 26px;
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
}

#watch-live{
    background-color: #8a2be2;
    padding: 14px 45px 15px 25px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0;
    position: relative;
}


.banner-image img{
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 581px;
}

.fa-chevron-right{
    position: absolute;
    right: 0%;
    top: 32%;
    animation: arrow .8s linear infinite;
    animation-direction: alternate;
}

/* Style Blog Part */

#blog-section{
    width: 1321px;
    margin: 80px auto;
    display: grid;
    grid-template-columns:312px 1fr;
    grid-column-gap: 24px;
}

.blog-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #161616;
    height: 250px;
    padding: 35px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.blog-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-menu ul li{
    border-radius: 10px;
    padding: 10px 0;
}

.link-button{
    text-decoration: none;
    font-size: 20px;
    color: #161616;
    background-color: #fff;
    height: 64px;
    width: 252px;
    display: block;
    line-height: 64px;
    border-radius: 10px;
    transition: .2s all ease-in-out;
}

.link-button:hover{
    color: #fff;
    background-color: #8a2be2;
}

.active{
    background-color: #7722c7;
    color: #fff;
}

.blog-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

article{
    border: 1px solid #e2e1e1;
    border-radius: 10px;
}

.blog-text{
    margin: 5px 15px 15px;
}

.transfer-btn{
    font-size: 16px;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 15px;
}

.blog-item-title{
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    font-weight: 600;
}

.blog-info{
    display: flex;
    justify-content: space-between;
    width: 150px;

}

.fa-clock, .fa-comment-dots{
    font-size: 18px;
}

.fa-clock, .fa-comment-dots, span{
    color: rgba(22, 22, 22, 0.7);
    margin-left: 5px;
}

/* Animation */
@keyframes arrow {
    0%{
        left: 90%;
    }
    100%{
        left: 80%;
    }
}